# Vision variables
AZURE_VISION_ENDPOINT=https://xxx.cognitiveservices.azure.com/
AZURE_VISION_KEY=xxx
AZURE_VISION_MODEL_ID=prebuilt-read

# Azure auth variables
AZURE_STORAGE_ENDPOINT_URL=https://login.microsoftonline.com/
AZURE_STORAGE_TENANT_ID=xxxxxxxxxxx
AZURE_STORAGE_GRANT_TYPE=client_credentials
AZURE_STORAGE_CLIENT_ID=xxxxxxxx
AZURE_STORAGE_CLIENT_SECRET=xxxxxxxxx
AZURE_STORAGE_SCOPE=https://storage.azure.com/.default

# Azure storage variables
AZURE_STORAGE_ACCOUNT_URL=https://xxxxxx.blob.core.windows.net/
AZURE_STORAGE_ACCOUNT_CONTAINER_NAME=imagestraining
AZURE_STORAGE_ACCOUNT_PREFIX=visiontest
AZURE_STORAGE_FILE_TAGS=tag1=testing&tag2=vision
AZURE_STORAGE_SAS_VALID_HOURS=4

# Azure OpenAI variables
AZURE_OPENAI_ENDPOINT=https://xxxxx.openai.azure.com
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-4o
AZURE_OPENAI_API_VERSION=2024-08-01-preview
AZURE_OPENAI_KEY=xxxxxxx
AZURE_OPENAI_TEMPERATURE=0.7
AZURE_OPENAI_MAX_TOKENS_PER_MINUTE=10000