# Vision variables
AZURE_VISION_ENDPOINT=https://YOUR_ENDPOINT.cognitiveservices.azure.com/
AZURE_VISION_KEY=SECRET_KEY
AZURE_VISION_MODEL_ID=prebuilt-read

# Azure auth variables
AZURE_STORAGE_ENDPOINT_URL=https://login.microsoftonline.com/
AZURE_STORAGE_TENANT_ID=TENANT_ID
AZURE_STORAGE_GRANT_TYPE=client_credentials
AZURE_STORAGE_CLIENT_ID=APP_REGISTRATION_CLIENT_ID
AZURE_STORAGE_CLIENT_SECRET=APP_REGISTRATION_CLIENT_SECRET
AZURE_STORAGE_SCOPE=https://storage.azure.com/.default

# Azure storage variables
AZURE_STORAGE_ACCOUNT_URL=https://STORAGE_ACCOUNT_NAME.blob.core.windows.net/
AZURE_STORAGE_ACCOUNT_CONTAINER_NAME=CONTAINER_NAME
AZURE_STORAGE_ACCOUNT_PREFIX=visiontest
AZURE_STORAGE_FILE_TAGS=tag1=testing&tag2=vision
AZURE_STORAGE_SAS_VALID_HOURS=1